* {
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #1d2fca 0%, rgba(0, 129, 217, 0.15) 100%);
  background-position: center;
  background-size: cover;
  position: absolute;
  overflow: auto;
}

.logo {
  width: 368px;
  height: 169px;
  left: 40vw;
  top: 0;
}

.form-box {
  width: 380px;
  height: 580px;
  position: relative;
  margin: auto;
  margin-top: 10vw;
  padding: 0px;
  background: transparent;
}

.button-box {
  width: 215px;
  margin: 35px auto;
  margin-top: 30px;
  position: relative;
  box-shadow: 0px 0px 20px 3px #00b0ff;
  border-radius: 30px;
  background-color: white;
}

.toggle-btn {
  padding: 8px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 105px;
  height: 100%;
  background: #00b0ff;
  border-radius: 30px;
  transition: 0.5s;
}

.input-group {
  top: 130px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.input-group-register {
  top: 110px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.input-field {
  width: 100%;
  padding: 5px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  outline: none;
  background: #e8e8e8;
  border-radius: 50px;
  text-align: center;
}

.check-box {
  margin: 20px 10px 43px 0px;
}

span {
  color: black;
  font-size: 15px;
}

.submit-btn {
  width: 50%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #00b0ff;
  border: 0;
  outline: none;
  border-radius: 30px;
}

.submit-btn:hover {
  box-shadow: 0px 0px 10px 3px #00b0ff;
}

.submit-btn-register:hover {
  box-shadow: 0px 0px 10px 3px #00b0ff;
}

.submit-btn-register {
  width: 50%;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 24px;
  background: #00b0ff;
  border: 0;
  outline: none;
  border-radius: 30px;
}

#login {
  left: 40px;
  visibility: visible;
  margin-top: 150px;
}

#register {
  top: 270px;
  left: 40px;
  visibility: hidden;
}

#footer {
  background-color: transparent;
  position: absolute;
  height: 35px;
  bottom: 0;
  clear: both;
  width: 100%;
  text-align: center;
}
p {
  color: #555;
}

@viewport {
  zoom: 1;
  width: extend-to-zoom;
}
@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1;
}

@media screen and (max-width: 390px) {
  .form-box {
    width: 100vw;
  }
  #login {
    width: 90vw;
    left: 5vw;
    right: 5vw;
  }
  .submit-btn {
    left: 5vw;
    right: 5vw;
    width: 90vw;
    transition: 0.5s;
  }
  #register {
    width: 90vw;
    left: 5vw;
    right: 5vw;
  }
  .submit-btn-register {
    left: 5vw;
    right: 5vw;
    width: 90vw;
    transition: 0.5s;
  }
  .logo {
    width: 100vw;
  }
}
